@use '../../abstract/variables';

hr {
    margin: 0;
}

.footerContainer {
    background-color: variables.$gray;
    & > h1 {
        padding: 1em;
        font-weight: 400;
        font-size: 16px;
    }
    .footer_list {
        display: none;
    }
    .footerText{ 
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .footerContainer {
        display: flex;
        justify-content: space-around;
        padding: 3em 0;
        & > h1 {
            padding: 0;
        }
        .footerText {
            display: flex;
            flex-direction: column;
            max-width: 10vw;
            & > h1 {
                margin-bottom: 2em;
            }
            & > p {
                margin-bottom: 1em;
                .skillsFooterText {
                    color: variables.$blue;
                    font-weight: 600;
                }
            }
            .footerTextName {
                color: variables.$blue;
                font-weight: 600;
            }
        }
        .footer_list {
            display: block;
            .footer_list_title {
                margin-bottom: 2em;
                color: variables.$light-gray;
            }
            .footer_list__item {
                margin-bottom: 1em;
                display: flex;
                align-items: center;
                .footer_list__link {
                    margin-left: 1em;
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 14px;
                    color: variables.$light-gray;
                }
            }
        }
    }
}


@media screen and (min-width: 1728px) {
    .footerContainer {
        & > h1 {
            font-size: 24px;
        }
        .footer_list {
            border-left: 1px solid variables.$light-gray;
            padding-left: 20px;
        }
    }
}