$gradient-blue: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
$font: 'Poppins sans-serif';
$backgroundColor: #EBECEE;
$white: white;
$orange: rgba(235, 155, 0, 1);
$blue: rgba(0, 47, 82, 1);
$gray: rgba(249, 249, 249, 1);
