@use '../../abstract/variables';

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: variables.$white;
    .contactTextContainer {
        & > * {
            padding: 0.5em 0;
        }
        & > h1 {
            font-weight: 500;
            font-size: 18px;
            color: variables.$blue;
        }
        & > h2 {
            font-size: 16px;
        }
    }
    .inputContainer {
        border: 1px solid variables.$blue;
        height: 30px;
        width: 90%;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        & > img {
            margin-right: 1em;
        }
        & > input {
            all:unset;
            width: 80%;
            &::placeholder {
                text-align: center;
            }
        }

        
    }
}


@media screen and (min-width: 1024px) {
    .contactContainer {
        flex-direction: row;
        justify-content: space-around;
        padding: 3em;
        .contactTextContainer {
            width: 25vw;
            & > h1 {
                font-size: 24px;
            }
            & > h2 {
                font-size: 16px;
            }
        }
        .inputContainer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 30vw;
            height: 5vw;
            & > img {
                height: 20px;
                margin-left: 20px;
            }
        }
    }
}